* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Concert One", cursive;
  background-image: linear-gradient(
    to right top,
    #ff6f91,
    #ec64a0,
    #d15eaf,
    #af5dbb,
    #845ec2
  );
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.flex {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

h1 {
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: center;
  color: #fff;
  font-size: 90px;
  font-family: "Fredoka One", cursive;
  letter-spacing: 4px;
}

.box {
  width: calc((100% / 7) - 10px);
  height: 90px;

  background-color: #ffc75f;
  text-align: center;
  font-size: 24px;
  line-height: 90px;
  border-radius: 4px;
  color: #252525;
}

.fizzBuzz {
  background-color: #ff6f91;
}

.fizz {
  background-color: #845ec2;
}

.buzz {
  background-color: #ff9671;
}
